﻿body {
   
    background-image: url('../images/background.jpg');
    background-size: cover;
}
    
ul {list-style-type: none;
    margin: auto;
    position:center;
    overflow: hidden;
    background-color: white;
}
li{
   
    float: left;
}

li a {
    width: 60px;
    display: block;
    color: black;
    padding: 14px 16px;
    float:left;
    text-decoration: none;
}
 li a:hover{background-color: green;
            color:white;
 }
 #main{width:80%;
       margin:auto;
       position:center;
       height:98%;
 }
.search {
    height: 50px;
    background-color: black;
    padding-top: 15px;
    padding-right:15px;
    
   
   
}
#globe {
    display: inline-block;
    color: white;
    font-size: 25px;
    margin-left:20px;
  
}
.loop {float:right;
}
.txtSearch {
    float: right;
}


.slider {
    width: 100%;
    text-align: center;
}

.slides {
    scroll-behavior: smooth;
    display: flex;
    overflow-x: hidden;
    margin-bottom:-20px;
}
#secMain{height:80%;}


.slides > div {
    height: 580px;
    flex-shrink: 0;
    width: 100%;
    position: relative;
    display: flex;
}

#show {
    width: 100%;
    height: 100%;
}

.slider > a {

    width: 3%;
    height: 0.75%;
    background: white;
    border-radius: 15%;
    position: absolute;
    opacity:0.7;
}

    .slider > a.p1 {
        left: 80%;
        top: 75%;
    }

    .slider > a.p2 {
        left: 76%;
        top: 75%;
    }

    .slider > a.p3 {
        left: 72%;
        top: 75%;
    }
        .footerMain{
    height: auto;
    background: #eee;
}
#carte {
    width: 100%;  
    background-color: LightGoldenrodYellow;
    height: 60%;
    display: inline-block;
    align-items: center;
   
}
#carte1 {
    position: relative;
    
    width: 24%;
    height: 100%;
    /*border: 2px solid red;*/
    float: right;
    margin: 4%;
    border-top: 8px solid darkorange;
    background-color:white;
}
.carte1 {
    top: -118px;
}
#headCarte, #headCarte1, #headCarte2, #headCarte3 {
    width: 100%;
    height: 20%;
    color: darkorange;
    text-align: center;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#footerCarte {
    width: 100%;
    height: 20%;
  
}
#secCarte {
    width: 100%;
    height: 60%;
}
#imgCarte {
    width: 100%;
    height: 200px;
    /*max-height: 100%;*/
}
#article {
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 7%;
    text-align: justify;
    height: 50%;
}
#titreP, #titreP1, #titreP2, #titreP3 {
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
#More, #More3, #More2,#More4 {
    border-style: solid;
    width: 15%;
    border-radius: 25%;
    text-align: center;
    text-decoration: none;
    float: right;
    margin-top: 15%;
    color: darkorange;
}


#footerCarte a:hover {
    box-shadow: 10px 10px 30px white;
    color: gray;
}
#about {
    width: 100%;
    height: 300px;
    text-align: center;
    background-image: linear-gradient(#fff79e,white);
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
}
#carteAbout{width:100%;
               background:none;

}
#textAbout {
    text-align: center;
}
#carteAbout #carte{
    background:none;
}




#gallery {
    
    padding: 0 2em;
  
background:none;
    color: #aaa;
   height:500px;
   text-align:center;
}



.thumbnail {
    width:100px;
    height:100px;

}


/** LIGHTBOX MARKUP **/

.lightbox {
    /** Default lightbox to hidden */
    display: none;
    /** Position and style */
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
}
    
    .lightbox img {
        /** Pad the lightbox image */
        width: 150px;
        height: 100px;
        margin-top: 10%;
    }

    .lightbox:target {
        /** Remove default browser outline */
        outline: none;
        /** Unhide lightbox **/
        display: block;
    }


    #textGallery h1 {
      
       padding:30px;
    }

#mainGallery{background:white;}
#contactAdress {
    width: 30%;
    height: 500px;
    background-color: white;
    float: left;
 
}
#contactFormulaire {
    width: 70%;
    height: 500px;
    background-color:white;
    float:right;
}
#contenue{margin-top:30px;
          margin-left:30px;
}
.btnContact{float:left;
            margin:10px;
}
.txtMessage {
    float: left;
}
.txtName{margin:30px 10px 30px 10px;}
.btnSubmit{margin-top:10px;
           margin-left:5px;
           margin-right:5px;
           width:50px;
           height:30px;
}
    .btnSubmit:hover {
    }
    .btnlangue {
        position: relative;
        right: 70%;
        top: -40px;
        border: none;
        color: white;
        padding: 7px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 50%;
        background-color: orangered;
    }
.btnlangue:hover{
    background-color:black;
    color: white;
}

#langue {
    float:right;
}

/*form admin*/



/*admin*/
