﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage1.Master" AutoEventWireup="true" CodeBehind="About.aspx.cs" Inherits="WebApplication1.About" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <section id="about">

    </section>
    <section id="textAbout">
    <h1>About Us</h1>
        </section>


    <section id="carteAbout">


        <div id="carte">
        
            <div id="carte1"> 
                  
                    <section id="secCarte">
                       
                        <div id="article">
                            <p id="titreP">Explore Africa unique Safari</p>
                            <p id="textP">We’ve carefully curated a collection of destinations and experiences defined by abundant wildlife, awe-inspiring landscapes, colourful cultures and life-changing opportunities. From your first glimpse of Table Mountain rising over Cape Town, to the thrill of an open</p>

                        </div>
                    </section>
                    <footer id="footerCarte">
                        <a id="More" href="#slid">More</a>
                    </footer>

            </div>
             <div id="carte1">
                    
                    <section id="secCarte">
                        <div id="article">
                            <p id="titreP">Explore Africa unique Safari</p>
                            <p id="textP">We’ve carefully curated a collection of destinations and experiences defined by abundant wildlife, awe-inspiring landscapes, colourful cultures and life-changing opportunities. From your first glimpse of Table Mountain rising over Cape Town, to the thrill of an open</p>

                        </div>
                    </section>
                    <footer id="footerCarte">
                        <a id="More" href="#slid">More</a>
                    </footer>
            </div>
             <div id="carte1">
                    
                    <section id="secCarte">
                        
                        <div id="article">
                            <p id="titreP">Explore Africa unique Safari</p>
                            <p id="textP">We’ve carefully curated a collection of destinations and experiences defined by abundant wildlife, awe-inspiring landscapes, colourful cultures and life-changing opportunities. From your first glimpse of Table Mountain rising over Cape Town, to the thrill of an open</p>

                        </div>
                    </section>
                    <footer id="footerCarte">
                        <a id="More" href="#slid">More</a>
                    </footer>
             </div>
        </div>



    </section>
</asp:Content>
