﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage1.Master" AutoEventWireup="true" CodeBehind="Contact.aspx.cs" Inherits="WebApplication1.Contact" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
   
   <section id="contactAdress">
<div id="contenue">
    <h3>ADRESS:</h3>
    <span>
        <img src="images/adress.png"  width="30" height="30" /> 138 Atlantic Ln Kingsport Ilinois 121164</span></br>
     <h3>PHONES:</h3>
    <span>
        <img src="images/phone.jpg" width="20" height="20" />800-2345-6789</br>800-2345-6789</span>
     <h3>EMAIL:</h3>
    <span>
        <img src="images/email.jpg" width="20" height="20"/>mail@demolink.org</br>Download information as:vCard</span>

</div>
   </section>
    <section id="contactFormulaire">

<div id="contenue">
    <h3>MISCELLANEOUS INFORMATION</h3>
    <span>Email us with any question or inquiries or use our contact data</span></br>

   
    <input  id="txtName" style=" Height:30px" type="text" class="txtName" required placeholder="Nom" />
    <input  id="txtEmail" style=" Height:30px" type="text" class="txtName" required  placeholder="Email" />
    <input  id="txtPhone" style=" Height:30px" type="text" class="txtName" required placeholder="Tel" />


   

<div> 
    
    <input  id="txtMessage" style=" Width:436px;Height:134px; " type="text" class="txtName" placeholder="Message" />
     
    

    <div>
        <input id="btnSend" type="button" style="background-color:#FF6600;" class="btnSubmit" value="Send" />
        <input id="btnClear"  type="button" style="background-color:#FF6600;" class="btnSubmit" value="Clear"//>

    </div>
     <label class="error" style="color:red;"></label>

</div>
        

    </section>
    
   
</asp:Content>
