﻿
<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage1.Master" AutoEventWireup="true" CodeBehind="Home.aspx.cs" Inherits="WebApplication1.Home" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <section id="secMain">
      
        <div class="slider">
             
              <div class="slides">
                <div id="slide-1">
                    <img id="show" src="images/savana.jpg" />
                </div>
                <div id="slide-2">
                  <img id="show" src="images/tigre.png" />
                </div>
                <div id="slide-3">
                  <img id="show" src="images/lion2.jpg" />
                </div>
                                
              </div>


         
            <a class="p1" href="#slide-3"></a>
              <a class="p2" href="#slide-2"></a>
              <a class="p3" href="#slide-1"></a>
        </div>
        <div id="carte">
        
       
        
               <%  Response.Write(zbar()); %>
          
        </div>
    </section>
    
 <%--   <footer class="footerMain"><h1>footer</h1></footer>--%>
</asp:Content>
