﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MasterPage1.master.cs" Inherits="WebApplication1.MasterPage1" %>

<!DOCTYPE html>

<html>
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <%--     <link href="~/Styles/StyleSheet1.css" rel="stylesheet" type="text/css" runat="server" media="screen" />--%>
    <link href="Styles/StyleSheet1.css" rel="stylesheet" />
   
    <asp:ContentPlaceHolder ID="head" runat="server">
     
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
   <div id="main">
       <header><nav id="nav">
                    <ul>
                      <li> <a href="Home.aspx" id="M1"></a></li>
                      <li> <a href="about.aspx" id="M2"></a></li>
                      <li> <a href="Home.aspx" id="M3"></a></li>
                      <li> <a href="Gallery.aspx"id="M4"></a></li>
                      <li> <a href="Home.aspx" id="M5" ></a></li>
                      <li> <a href="Contact.aspx" id="M6" ></a></li>
                        <li> <a href="trips.aspx">trips</a></li>
                          <%  if (Session["id"] == null)
                              {
                                Response.Write( "<li> <a href='connect.aspx' >Admin</a></li>");
                                      }%>
                      <%  if (Session["id"] != null)
                              {
                               Response.Write( "<li> <a href='managetrip.aspx?type="+"add"+"'>Add</a></li>");
                                  Response.Write( "<li> <a href='admin.aspx' >Gestion</a></li>");
                                 Response.Write( "<li> <a href='dec.aspx' >Deconnexion</a></li>");
                              }
                             %>
                      
                   </ul>
         
              
               </nav>
           <div id="langue">

               
                          <input id="1" type='button' value='FR' class="btnlangue"/>
                          <input id="2" type='button' value='EN' class="btnlangue"/>
           </div>
           <div class="search">
              <span id="globe">
               <img  src="images/globe.png"  height="25" width="25" />
                <%-- <%=DGW.getMyarray()[6]%>--%>
                 </span>  
                 <asp:ImageButton ID="ImageButton1" runat="server" CssClass="loop" Height="25px" ImageUrl="~/images/loop.png" Width="25px" OnClick="ImageButton1_Click" />
               <%--                  <img id="loop" src="images/loop.png" height="25" width="25" />--%>
                  <asp:TextBox ID="txtLopp" runat="server" CssClass="txtSearch"></asp:TextBox>
                           
                         
            </div>
       </header>
      </form>
      
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>
         
    <footer>

    </footer>
  
    
</body>
</html>
 <script src="Script/JavaScript.js"></script>