﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage1.Master" AutoEventWireup="true" CodeBehind="trips.aspx.cs" Inherits="WebApplication1.trips" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">

    <style>

        .carte1{
            margin-top:15% !important;
        }

    </style>

</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">



    <%  Response.Write(zabour()); %>

    
               







</asp:Content>
